# /skyrun/.htaccess

# Verhindert das Auflisten von Verzeichnisinhalten
Options -Indexes

# Verhindert direkten Zugriff auf sensible Dateien
<Files "config.php">
    Require all denied
</Files>
<Files "create_backup.php">
    Require all denied
</Files>
<Files ".backup_config">
    Require all denied
</Files>
<Files ".env">
    Require all denied
</Files>

# SQL-Dumps und Logdateien blockieren
<FilesMatch "\.(sql|log)$">
    Require all denied
</FilesMatch>

# Versteckte Dateien blockieren (z.B. .gitignore, .backup_config)
<FilesMatch "^\.">
    Require all denied
</FilesMatch>

# HTTPS erzwingen
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Favicon: ICO-Anfragen auf SVG umleiten
RedirectMatch 301 ^/favicon\.ico$ /favicon.svg
